#info-card {
  transition: transform 0.3s, box-shadow 0.3s ease-in;
}

#info-card:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.1) !important;
}

.link {
}
.link:hover {
  cursor: pointer;
}
